NEXT_PUBLIC_BASE_URL=
# The base URL for the Next.js application, used for client-side requests.

OPENAI_API_KEY=
# The API key for the OpenAI service, used for generating AI responses.

KV_URL=
KV_REST_API_URL=
# The URL for the REST API of the key-value storage service.

KV_REST_API_TOKEN=
# The API token for the REST API of the key-value storage service, used for read and write access.

KV_REST_API_READ_ONLY_TOKEN=

AKASH_API_KEY=

ALCHEMY_API_KEY=
MAITHAI_API_KEY=
# The API key for the Maithai service. (set this to any value)

AGENT_SIGNER_PRIVATE_KEY=
# The private key for the agent signer, used for signing transactions or authentication.

CROSSMINT_API_KEY=
# The API key for the Crossmint service, used for interacting with the Crossmint platform. Has to be staging key!
